<!DOCTYPE html>
<HTML lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Noor's Lottery
	</title>
	
<!--	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">   -->
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>


<!-- square blocks animations -->

	<div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

<!-- Code under this blocks to let your animations keep running in the background -->
	
	<button class="tablink" onclick="open('facet'"> faucet</button>

	<table>			
		<tr>
			<th>LUCKY NUMBER</th>
			<th>PAYOUT</th>
		</tr>
		<tr>
			<td>0000-5000</td>
			<td>0.05 DUCO</td>
		</tr>
		<tr>
			<td>5001-8000</td>
			<td>0.1</td>
		</tr>
		<tr>
			<td>8001-9000</td>
			<td>1 DUCO</td>
		</tr>
		<tr>
			<td>9001-9500</td>
			<td>5 DUCO</td>
		</tr>
		<tr>
			<td>9501-9800</td>
			<td>20 DUCO</td>
		</tr>
	</table>

	<p  id="info">Please click the ROLL button to WIN UP TO 50 DUCO EVERY HALF AN HOUR!</p>





<!-- square animations ends here -->

	</div >







</body>

</HTML>